/* 分页控件样式 */
.paging{
    text-align: center;
}
.pagination .active a{
    background-color: #005197;
    border-color: #005197;
}
/* 新闻列表样式 */
.news-model{
    margin-top: 15px;
}
.news-model span{
    float: right;
}
.news-model a{
    color: #666;
    font-size: 16px;
}
.news-model a:hover,.news-model a:focus{
    text-decoration: none;
    color: #d30a1c;
}
.news-model p{
    margin-top: 5px;
    font-size: 13px;
}
/* 新闻详情 */
.model-details-product-title{
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px solid #005197;
    color: #005197;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
/* 新闻主体副标题 */
.model-foot{
    padding: 5px 0px;
    font-size: 14px;
    color: #545353;
    margin-top: 10px;
    text-align: center;
}

/* 表单样式 */
.model-details-title-search{ 
    font-size: 18px;
    width: 300px;
    float: right;
    margin-bottom: 20px;
}
.model-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
}
/* 实现高亮效果 */
.news-search-model span{
    float: none;
}
.news-model a span{
    float: none;
}
.highlight{
    color: red;
}