.top {
	margin-top: 10px;
}
.phone {
	color: #666;
	float: right;
}
.mail {
	color: #666;
	float: right;
}
.ant:link {
	text-decoration: none;
}
.ant:visited {
	text-decoration: none;
}
.ant:hover {
	text-decoration: none;
}
.ant:active {
	text-decoration: none;
}
/* 员工通道链接样式 */
.staff-link,
.staff-link:link,
.staff-link:visited {
	color: #333; /* 默认颜色，可根据需要调整 */
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: color 0.3s ease;
}

/* 鼠标悬停状态 */
.staff-link:hover,
.staff-link:focus {
	color: #337ab7; /* Bootstrap 默认蓝色，可根据需要调整 */
	text-decoration: none;
}

/* 导航条默认属性设置 */
.navbar-default {
	margin-bottom: 0px;
	border: 0px;
	margin-top: 30px;
	background-color: #e7e7e7;
}

/* 导航栏栏目激活时属性 */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #005197;
	color: #fff;
}
/* 一级菜单鼠标移过时属性 */
.navbar-default .navbar-nav > li > a:hover {
	background-color: #005197;
	color: #fff;
}
/* 一级菜单单击展开时属性 */
.navbar-default .navbar-nav li.open a.on {
	background-color: #005197;
	color: #fff;
}
/* 下拉菜单内边距 */
.dropdown-menu {
	padding: 0px;
}
/* 二级菜单标签属性 */
.dropdown-menu > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #777;
	text-align: center;
}
.nav-top {
	width: 14%;
	text-align: center;
}
.line {
	height: 3px;
	width: 100%;
	background: #005197;
}
.main {
	width: 100%;
}
/* 主体标题的样式 */
.model-details-title {
	font-size: 18px;
	padding: 15px 0px;
	border-bottom: 1px #005197 solid;
	color: #005197;
	margin-bottom: 10px;
	margin-top: 10px;
}
/* 文字段落样式 */
.model-details p {
	line-height: 30px;
	text-indent: 2em;
	text-align: justify;
	/* text-justify: inter-ideograph; 已经过时 */
}
/* 主体图像 */
.model-details img {
	margin: 0px auto;
}
/* 页脚样式 */
.web-footer {
	width: 100%;
	margin-top: 30px;
}
#map-footer {
	background-color: #3a3a3a;
}
#map-footer dl {
	text-align: center;
	margin-top: 40px;
}
#map-footer dt {
	padding: 3px;
	color: #fff;
}
#map-footer dd {
	padding: 3px;
}
/* 二维码广告文字样式设置 */
#map-footer p {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 16px;
}
#map-footer a {
	color: #a6a6a6;
	font-size: 13px;
}
#map-footer a:hover {
	color: #fff;
	text-decoration: none;
}
#wx {
	text-align: center;
}
.qrimg {
	max-width: 170px;
}
#patent-footer {
	text-align: center;
	background-color: #3a3a3a;
}
#patent-footer p {
	margin-top: 10px;
	padding-right: 80px;
	color: #8d8d8d;
	font-size: 11px;
}
/* 覆盖导航栏下拉菜单的 active 状态样式 */
.navbar-nav .dropdown-menu .active > a,
.navbar-nav .dropdown-menu li.active > a {
	background-color: #f8f8f8 !important;
	color: #333 !important;
}

/* 移除 hover 状态时的蓝色 */
.navbar-nav .dropdown-menu .active > a:hover,
.navbar-nav .dropdown-menu li.active > a:hover {
	background-color: #f8f8f8 !important;
	color: #333 !important;
}

/* 确保下拉菜单项的其他状态也不显示蓝色 */
.navbar-nav .dropdown-menu li > a:focus,
.navbar-nav .dropdown-menu li > a:hover {
	background-color: #f5f5f5 !important;
	color: #333 !important;
}
.row-3 {
	margin-top: 30px;
}
/* 侧边导航栏标题样式 */
.model-title {
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding: 15px 0px;
	background: #005197;
	margin-top: 25px;
}
/* 侧边导航栏列表项样式 */
.model-list li {
	text-align: center;
	background-color: #f6f6f6;
	font-size: 16px;
}
/* 侧边导航栏列表项链接样式 */
.model-list li a {
	color: #545353;
}
/* 侧边导航栏列表项链接激活样式 */
.model-list li a:hover {
	text-decoration: none;
	color: #005197;
}
/* 侧边导航栏激活样式 */
.model-list li.active {
	text-align: center;
	background-color: #f6f6f6;
	font-size: 16px;
	border-color: #ddd;
}
/* 侧边导航栏激活状态下鼠标移过时样式 */
.model-list li.active:hover {
	color: #005197;
	background-color: #f6f6f6;
	font-size: 16px;
	border-color: #ddd;
}
/* 侧边导航栏激活状态时链接样式 */
.model-list li.active a {
	color: #005197;
}
/* 所有列表项的鼠标悬停效果 */
.model-list li:hover {
	background-color: #005197 !important;
}
.model-list li:hover a {
	color: #ffffff !important;
	text-decoration: none;
}
