{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>恒达科技| {% block title %}{% endblock  %} </title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
	</head>
	<body>
		<div class="container top">
			<div class="row">
				<!-- 图片 - 占6列（保持原宽度） -->
				<div class="col-md-6">
					<a>
						<img class="img-responsive" src="{% static 'img/mingzi.jpg' %}" />
					</a>
				</div>
				
				<!-- 三条信息各占2列 -->
				<div class="col-md-2 hidden-xs">
					<div style="padding: 5px;">
						<div style="display: flex; align-items: center;">
							<span class="glyphicon glyphicon-phone" style="min-width: 20px;"></span>
							<span>电话：400 1111 0000</span>
						</div>
					</div>
				</div>
				
				<div class="col-md-2 hidden-xs custom-width" style="width: 23% !important;">
					<div style="padding: 5px;">
						<div style="display: flex; align-items: center;">
							<span class="glyphicon glyphicon-envelope" style="min-width: 20px;"></span>
							<span >邮箱：hengda@126.com</span>
						</div>
					</div>
				</div>
				
				<div class="col-md-2 hidden-xs" style="width:18%">
					<div style="padding: 5px;">
						<div style="display: flex; align-items: center;">
							<a href="\admin\login" class="staff-link">
								<span class="glyphicon glyphicon-user" style="min-width: 20px;"></span>
								<span>员工通道</span>
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 导航栏 -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button
						type="button"
						class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#bs-example"
						aria-expanded="false"
					>
						<span>导航栏</span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li class="nav-top" id='home'>
							<a href="{% url 'home' %}">首页</a>
						</li>
						<li class="dropdown nav-top {% if active_menu == 'about' %}active{% endif %} " id='about' >
							<a href="#" class="dropdown-toggle on" data-toggle="dropdown"
								>公司简介</a
							>
							<ul class="dropdown-menu">
								<li><a href="{% url 'aboutApp:survey' %}">企业概况</a></li>
								<li><a href="{% url 'aboutApp:honor' %}">荣誉资质</a></li>
							</ul>
						</li>
						<li class="dropdown nav-top {% if active_menu == 'news' %}active{% endif %}" id='news'>
							<a href="#" class="dropdown-toggle on" data-toggle="dropdown"
								>新闻动态</a
							>
							<ul class="dropdown-menu">
								<li><a href="{% url 'newsApp:news' 'company' %}">企业要闻</a></li>
								<li><a href="{% url 'newsApp:news' 'industry' %}">行业新闻</a></li>
								<li><a href="{% url 'newsApp:news' 'notice'%}">通知公告</a></li>
							</ul>
						</li>
						<li class="dropdown nav-top {% if active_menu == 'products' %}active{% endif %}" id='products'>
							<a href="#" class="dropdown-toggle on" data-toggle="dropdown"
								>产品中心</a
							>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'productsApp:products' 'robot' %}">家用机器人</a>
								</li>
								<li>
									<a href="{% url 'productsApp:products' 'monitor' %}">智能监控</a>
								</li>
								<li>
									<a href="{% url 'productsApp:products' 'face' %}">人脸识别解决方案</a>
								</li>
							</ul>
						</li>
						<li class="dropdown nav-top {% if active_menu == 'service' %}active{% endif %}">
							<a href="#" class="dropdown-toggle on" data-toggle="dropdown"
								>服务支持</a
							>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'serviceApp:download' %}">资料下载</a>
								</li>
								<li>
									<a href="{% url 'serviceApp:platform' %}">人脸识别开放平台</a>
								</li>
							</ul>
						</li>
						<li class="nav-top " id='science'>
							<a href="{% url 'scienceApp:science' %}">科研基地</a>
						</li>
						<li class="dropdown nav-top  {% if active_menu == 'contactus' %}active{% endif %}">
							<a href="#" class="dropdown-toggle on" data-toggle="dropdown"
								>人才招聘</a
							>
							<ul class="dropdown-menu">
								<li><a href="{% url 'contactApp:contact' %}">欢迎咨询</a></li>
								<li><a href="{% url 'contactApp:recruit' %}">加入恒达</a></li>
							</ul>
						</li>
											
					</ul>
				</div>
			</div>
			
		</nav>
		<div class="line"></div>
		{% block content %}{% endblock  %}
		{% comment %} 设置站点地图 {% endcomment %}
		<div class="container web-footer">
			<div class="row" id="map-footer">
				<div class="col-md-2">
					<dl>
						<dt>公司简介</dt>
						<dd><a href="{% url 'aboutApp:survey' %}">企业概况</a></dd>
						<dd><a href="{% url 'aboutApp:honor' %}">荣誉资质</a></dd>
					</dl>
				</div>
				<div class="col-md-2"> 
					<dl>
						<dt>产品中心</dt>
						<dd><a href="{% url 'productsApp:products' 'robot' %}">家用机器人</a></dd>
						<dd><a href="{% url 'productsApp:products' 'monitor'%}">智能监控</a></dd>
						<dd><a href="{% url 'productsApp:products' 'face'%}">人脸识别解决方案</a></dd>
					</dl>
				</div>
				<div class="col-md-2"> 
					<dl>
						<dt>服务支持</dt>
						<dd><a href="{% url 'serviceApp:download' %}">资料下载</a></dd>
						<dd><a href="{% url 'serviceApp:platform' %}">人脸识别开放平台</a></dd>
					</dl>
					</dl>
				</div>
				<div class="col-md-2"> 
					<dl>
						<dt>人才招牌</dt>
						<dd><a href="{% url 'contactApp:contact' %}">欢迎咨询</a></dd>
						<dd><a href="{% url 'contactApp:recruit' %}">加入恒达</a></dd>
					</dl>
				</div>
				<div class="col-md-4" id="wx"> 
					<p>
						扫描二维码，关注我们

					</p>
					<img class="qrimg" src="{% static 'img/qr_with_logo.png' %}" alt="wx" />
					<p>客服热线：<b style="font-size:20px">400 111 2222</b></p>
				</div>
			</div>
			{% comment %} 版权 {% endcomment %}
			<div class="row" id="patent-footer">
				<p>&copy 2019 Python Web 企业门户 版权所有 | 苏 ICP 备 19006378 号</p>
			</div>

			{% comment %} 悬浮窗 {% endcomment %}
			<div id="feedback-launcher">
				<i class="fa fa-comments-o"></i>
			</div>
			
			<div id="feedback-window">
				<div class="feedback-header">
					<span style="font-style: normal;">快速留言反馈</span>
					<button type="button" id="close-feedback">&times;</button>
				</div>
				<form id="feedback-form">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="您的姓名" required>
					</div>
					<div class="form-group">
						<input type="text" name="phone" class="form-control" placeholder="联系电话" required>
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control" rows="3" placeholder="写下您的需求..." required></textarea>
					</div>
					<button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px;">立即发送</button>
				</form>
			</div>
		</div>

		<script>
			$(function () {
				$(".dropdown").mouseover(function () {
					$(this).addClass("open");
				});
				$(".dropdown").mouseleave(function () {
					$(this).removeClass("open");
				});
			});
		</script>
        <script type='text/javascript'>
            $('#{{active_menu}}').addClass('active');
        </script>
		<script type="text/javascript">
			$('#{{sub_menu}}').addClass("active");
		</script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				// 1. 点击圆球弹出/收起
				$('#feedback-launcher').on('click', function(e) {
					$('#feedback-window').stop().fadeToggle(300);
					e.stopPropagation(); // 阻止事件冒泡
				});
		
				// 2. 点击叉号关闭
				$('#close-feedback').on('click', function() {
					$('#feedback-window').fadeOut(300);
				});
		
				// 3. 点击弹窗内部不关闭
				$('#feedback-window').on('click', function(e) {
					e.stopPropagation();
				});
		
				// 4. 点击页面其他地方自动关闭
				$(document).on('click', function() {
					$('#feedback-window').fadeOut(300);
				});
			});
			$('#feedback-form').submit(function(e) {
				e.preventDefault(); // 阻止页面刷新
				
				$.ajax({
					url: "/contactApp/quick_feedback/",  // 请确保你的 urls.py 里这个路径是对的
					type: "POST",
					data: $(this).serialize(),
					success: function(data) {
						if (data.status === 'success') {
							// 1. 弹出感谢语
							alert("感谢提交！我们会尽快回复您。");
							
							// 2. 清空表单内容
							$('#feedback-form')[0].reset();
							
							// 3. 自动收起小窗口
							$('#feedback-window').fadeOut(300);
						} else {
							alert("提交失败：" + data.msg);
						}
					},
					error: function() {
						alert("网络连接失败，请稍后再试。");
					}
				});
			});
		</script>
	</body>
</html>
